{%extends 'base.html' %} {%load utils %}
<!--  -->
{%block extend_style %}
<link rel="stylesheet" href="/static/simplemde.min.css" />
<script src="/static/simplemde.min.js"></script>
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
{%endblock%}

<!--  -->
{%block body %}
<!--  -->
{% if user.is_authenticated %}
<div class="container">
  <form action="{% url 'msg:index' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">标题</label>

      <input
        id="title"
        name="title"
        class="form-control form-control-lg"
        autofocus=""
        type="text"
        placeholder="标题"
      />
    </div>
    <div class="form-group">
      <label for="body">内容</label>
      <textarea
        class="form-control"
        id="body"
        name="body"
        placeholder="您想对说的话／问的事...(支持Markdown编辑)"
        rows="3"
      ></textarea>
    </div>
    <button class="btn  btn-success" type="submit">
      发布
    </button>
  </form>

  <script>
    var simplemde = new SimpleMDE({
      promptURLs: true,
      spellChecker: false,
      autoDownloadFontAwesome: false,
      autofocus: false
    });
  </script>
</div>
{%else %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">这是一个留言板</h1>
  <p class="lead">
    大家可以在这里畅所欲言。
  </p>
</div>
{%endif %}
<!--  -->
<div class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">近期留言</h6>
    {%for msg in msg_list %}
    <div>
      <div class="media text-muted pt-3">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark"
            >@{{msg.issue_user| show_name}}</strong
          >
          <b>{{msg.title}}: </b> {{msg.body|brief |safe}}
        </p>
      </div>
    </div>
    {%endfor %}
    <small class="d-block text-right mt-3">
      <a href="{% url 'msg:list' 1 %}">查看全部</a>
    </small>
  </div>
</div>
<!--  -->
{%endblock %}
